<canvas id="FunZoom" phx-hook="FunZoom"></canvas>
<video muted width="320" height="240">
    <source src="/images/Bike6861-30.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>